body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

#page {
  display: grid;
  grid-template-areas:
    'sidebar header'
    'sidebar main';
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}

#page > * {
  padding: 2rem;
  display: grid;
}

#page > aside {
  grid-area: sidebar;
  background-color: royalblue;
  color: white;
  font-weight: bold;
  row-gap: 2rem;
}

.logo {
  margin: 0;
  display: grid;
  font-size: 2rem;
  grid-template-columns: 4rem auto;
  align-items: center;
}

.logo i {
  font-size: 3rem;
}

aside ul {
  list-style: none;
  padding-left: 0;
  display: grid;
  row-gap: 1rem;
  font-size: 1rem;
}

aside a {
  display: grid;
  grid-template-columns: 2rem auto;
  color: white;
  text-decoration: none;
}

aside li a:hover {
  color: #e1b941;
}

#page > header {
  grid-area: header;
}

#page > main {
  grid-area: main;
  background-color: lightgray;
}
