body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

#page {
  display: grid;
  grid-template-areas:
    'sidebar header'
    'sidebar main';
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto 1fr;
}

#page > * {
  padding: 1.25rem;
  display: grid;
  align-items: start;
}

#page > aside {
  grid-area: sidebar;
  background-color: royalblue;
  color: white;
  font-weight: bold;
  grid-template-rows: auto auto 1fr;
  row-gap: 2rem;
}

#logo {
  margin: 0;
  display: grid;
  font-size: 2rem;
  grid-template-columns: 3rem auto;
  align-items: center;
}

aside ul {
  list-style: none;
  padding-left: 0;
  display: grid;
  row-gap: 1rem;
}

aside a {
  display: grid;
  grid-template-columns: 2rem auto;
  color: white;
  text-decoration: none;
}

aside li a:hover {
  color: #e1b941;
}

#page > header {
  grid-area: header;
  row-gap: 2rem;
  align-items: center;
  grid-template-columns: 1fr auto;
}

header > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#search {
  border: none;
  background-color: lightgray;
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  width: 75%;
}

button {
  background: none;
  border: none;
  font-size: 1.25rem;
  border-radius: 1rem;
  padding: 0.5rem;
}

button:hover {
  cursor: pointer;
  background-color: lightgray;
}

#page > main {
  grid-area: main;
  background-color: lightgray;
}

.avatar {
  border-radius: 50%;
  width: 2.5rem;
}
